html {
  background-color: rgb(250, 247, 248);
}

/* * {
  font-family: "Open Sans", sans-serif;
} */

body {
  margin: 0;
}

* {
  --primary-color: #ff2b3c;
  --text-color-light: #d4d4d4;
  --text-color: #4a4a4a;
}
