.navbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar img {
  width: 3.3rem;
  height: 3.3rem;
  fill: var(--text-color);
  padding: 0.75rem;
  margin-right: 40px;
}

.navbar a {
  background-image: none;
}

.navbar a:link {
  /* border-bottom: 1px solid var(--primary-color); */
  /* margin-bottom: -1px; */
  text-decoration: none;
}
